<section>
  <div class="section-container">
    <div class="info--np">
      <div class="heading-info">
        <h1 class="heading-primary">Revenue</h1>
        <h2 id="revenue">€ 0,00</h2>
      </div>
    </div>
    <div class="info--np">
      <div class="heading-info">
        <h1 class="heading-primary">Purchase</h1>
        <h2 id="purchaseCalc">€ 0,00</h2>
      </div>
    </div>
    <div class="info--np">
      <div class="heading-info">
        <h1 class="heading-primary">Profit/Loss</h1>
        <h2 class="profitLos" id="profitLoss">€ 0,00</h2>
      </div>
    </div>
  </div>
</section>
