<header>
  <div class="header">
    <div class="header__hb-menu">
      <i class="fa-solid fa-bars" id="menu"></i>
    </div>
    <div class="header__logo">
      <h1>NS FINANCE</h1>
    </div>
    <div class="header__login-placeholder">
      <div class="login-pp"></div>
      <div class="header__display-name">
        <div id="login--pp-firstname">
          <h2 id="header-display-username">Niloyan</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="" id="modal--menu">
    <div class="sidebar" id="hb-menu-open">
      <div class="menu" id="sidebar-menulist">
        <a href="index.html">Dashboard</a>
        <a href="https://trello.com/nl">Projecten</a>
        <a href="https://mega.io/">Klanten</a>
        <a href="https://web.snelstart.nl/">Facturen</a>
        <a href="https://www.strato.nl">Website Beheer</a>
        <a href="https://webmail.strato.com">Webmail</a>
      </div>
    </div>
  </div>
</header>
